* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
h3 {
  font-size: 12px;
}
.card {
  width: 180px;
  height: 180px;
  background-color: green;
  margin-bottom: 1rem;
}
